USE [master]
GO
/****** Object:  Database [QL_ThuVien]    Script Date: 25/10/2016 2:49:06 CH ******/
CREATE DATABASE [QL_ThuVien]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QL_ThuVien', FILENAME = N'D:\1-Study\4-HK6\ThucTapNhom\QL_ThuVien.mdf' , SIZE = 3328KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QL_ThuVien_log', FILENAME = N'D:\1-Study\4-HK6\ThucTapNhom\QL_ThuVien_log.LDF' , SIZE = 3456KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QL_ThuVien].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QL_ThuVien]
GO
/****** Object:  StoredProcedure [dbo].[ADDBanDoc]    Script Date: 25/10/2016 2:49:06 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ADDBanDoc] (@HoTen nvarchar(50), @GioiTinh nvarchar(5),@NgaySinh date, @CMND nvarchar(15), @MaLop nvarchar(10),@DiaChi nvarchar(50),@Email nvarchar(50),@DienThoai nvarchar(20))
AS 
BEGIN
	DECLARE @MaBD nchar(10)
	DECLARE @sott int
	DECLARE contro CURSOR FORWARD_ONLY FOR SELECT MaBD FROM BanDoc
	SET @sott = 0
	
	OPEN contro
	FETCH NEXT FROM contro INTO @MaBD
	WHILE (@@FETCH_STATUS = 0)
	BEGIN
		IF((CAST(right(@MaBD, 8) AS int) - @sott) = 1)
		BEGIN
			SET @sott = CAST(right(@MaBD, 8) AS int)
		END
	ELSE BREAK
	FETCH NEXT FROM contro INTO @MaBD
END

DECLARE @cdai int
DECLARE @i int
SET @MaBD = CAST((@sott + 1) as nchar(8))
SET @cdai = LEN(@MaBD)
SET @i = 1
while ( @i <= 8 - @cdai)
BEGIN
	SET @MaBD = '0' + @MaBD
	SET @i = @i + 1
END
SET @MaBD = 'BD' + @MaBD

INSERT INTO BanDoc values ( @MaBD,@HoTen,@GioiTinh,@NgaySinh,@CMND,@MaLop,@DiaChi,@Email,@DienThoai)
SELECT @MaBD
CLOSE contro
DEALLOCATE contro
END

GO
/****** Object:  StoredProcedure [dbo].[AddCTPM]    Script Date: 25/10/2016 2:49:06 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[AddCTPM]
(
	@MaPM nvarchar(10),
	@GTCB nvarchar(10),
	@NgayMuon date ,
	@NgayTra date ,
	@NgayDangky date ,
	@NgayLay date ,
	@GhiChu nvarchar(max)
)
as
begin
	declare @i int
	select @i=a.SoLuong from TaiLieu a,GiaTriCaBiet b where a.MaTL=b.MaTL and b.GTCB=@GTCB
	if @i>0
	begin
		insert into ChitietPhieuMuon(MaPM,GTCB,NgayMuon,NgayTra,NgayDangky,NgayLay,GhiChu)
		values (@MaPM,@GTCB,@NgayMuon,@NgayTra,@NgayDangky,@NgayLay,@GhiChu)
		update GiaTriCaBiet set TrangThai=N'Đã mượn' where GTCB=@GTCB
		declare @MaTL nvarchar(10)
		select @MaTL=MaTL from GiaTriCaBiet where GTCB=@GTCB
		update TaiLieu set SoLuong=SoLuong-1 where MaTL=@MaTL
	end
	else raiserror('Hết sách',18,1)
end

GO
/****** Object:  StoredProcedure [dbo].[AddPM]    Script Date: 25/10/2016 2:49:06 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[AddPM]
(
	@MaBD nvarchar(10)
)
as
begin
	declare @MaPM nvarchar(10)
	set @MaPM= dbo.AutoMaPhieuMuon()
	insert into PhieuMuon(MaPM,MaBD,TrangThai)
	values (@MaPM,@MaBD,1)
end

GO
/****** Object:  StoredProcedure [dbo].[ADDTaiLieu]    Script Date: 25/10/2016 2:49:06 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ADDTaiLieu] (@TacGia nvarchar(50), @NhanDe nvarchar(50),@SoLuong int, @DoMat int, @NgonNgu nvarchar(20),@MaTheLoai nvarchar(10),@MaNXB nvarchar(10))
AS 
BEGIN
	DECLARE @MaTL nchar(10)
	DECLARE @sott int
	DECLARE contro CURSOR FORWARD_ONLY FOR SELECT MaTL FROM TaiLieu
	SET @sott = 0
	
	OPEN contro
	FETCH NEXT FROM contro INTO @MaTL
	WHILE (@@FETCH_STATUS = 0)
	BEGIN
		IF((CAST(right(@MaTL, 8) AS int) - @sott) = 1)
		BEGIN
			SET @sott = CAST(right(@MaTL, 8) AS int)
		END
	ELSE BREAK
	FETCH NEXT FROM contro INTO @MaTL
END

DECLARE @cdai int
DECLARE @i int
SET @MaTL = CAST((@sott + 1) as nchar(8))
SET @cdai = LEN(@MaTL)
SET @i = 1
while ( @i <= 8 - @cdai)
BEGIN
	SET @MaTL = '0' + @MaTL
	SET @i = @i + 1
END
SET @MaTL = 'TL' + @MaTL

INSERT INTO TaiLieu values ( @MaTL,@TacGia,@NhanDe,@SoLuong,@DoMat,@NgonNgu,@MaTheLoai,@MaNXB)
SELECT @MaTL
CLOSE contro
DEALLOCATE contro
END

GO
/****** Object:  StoredProcedure [dbo].[DeletePM]    Script Date: 25/10/2016 2:49:06 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[DeletePM]
(
	@MaBD nvarchar(10),
	@MaPM nvarchar(10)
)
as
begin
	update PhieuMuon set TrangThai=3 where MaBD=@MaBD and MaPM=@MaPM
end


GO
/****** Object:  StoredProcedure [dbo].[OutputTable]    Script Date: 25/10/2016 2:49:06 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[OutputTable]
(
	@code int 
)
as
begin
	if @code=1
		select * from TaiKhoan
	else select * from BanDoc
end

GO
/****** Object:  StoredProcedure [dbo].[SuaBanDoc]    Script Date: 25/10/2016 2:49:06 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SuaBanDoc] (@MaBD nchar(10), @HoTen nvarchar(50), @GioiTinh nvarchar(5),
						 @NgaySinh date, @CMND nvarchar(15), @MaLop nvarchar(10), @DiaChi nvarchar(50),@Email nvarchar(50),@DienThoai nvarchar(20))
AS
BEGIN 
	UPDATE BanDoc SET  HoTen = @HoTen, GioiTinh = @GioiTinh,
						NgaySinh = @NgaySinh, CMND=@CMND, MaLop = @MaLop, DiaChi = @DiaChi, Email=@Email, DienThoai=@DienThoai
						WHERE MaBD=@MaBD
END

GO
/****** Object:  StoredProcedure [dbo].[SuaTaiLieu]    Script Date: 25/10/2016 2:49:06 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SuaTaiLieu] (@MaTL nchar(10), @TacGia nvarchar(10), @NhanDe nvarchar(50),
						 @SoLuong int, @DoMat int, @NgonNgu nvarchar(20), @MaTheLoai nvarchar(10),@MaNXB nvarchar(10))
AS
BEGIN 
	UPDATE TaiLieu SET  TacGia = @TacGia, NhanDe = @NhanDe,
						SoLuong = @SoLuong, DoMat = @DoMat, NgonNgu = @NgonNgu, MaTheLoai=@MaTheLoai, MaNXB=@MaNXB
						WHERE MaTL=@MaTL
END

GO
/****** Object:  StoredProcedure [dbo].[Xoa_BD]    Script Date: 25/10/2016 2:49:06 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Xoa_BD](@MaBD nvarchar(10))
AS
BEGIN 
	DELETE FROM BanDoc WHERE MaBD=@MaBD
END
GO
/****** Object:  StoredProcedure [dbo].[Xoa_TL]    Script Date: 25/10/2016 2:49:06 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Xoa_TL](@MaTL nvarchar(10))
AS
BEGIN 
	DELETE FROM TaiLieu WHERE MaTL=@MaTL
END
GO
/****** Object:  UserDefinedFunction [dbo].[AutoMaPhieuMuon]    Script Date: 25/10/2016 2:49:06 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create function [dbo].[AutoMaPhieuMuon] ()
returns nvarchar(10)
as
begin
	declare @mapm nvarchar(10)
	declare @i int =(select count(MaPM) from PhieuMuon)+1
	set @mapm='PM'+CONVERT(nvarchar(10),@i)
	return (@mapm)
end

GO
/****** Object:  Table [dbo].[BanDoc]    Script Date: 25/10/2016 2:49:06 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BanDoc](
	[MaBD] [nvarchar](10) NOT NULL,
	[HoTen] [nvarchar](50) NULL,
	[GioiTinh] [nvarchar](5) NULL,
	[NgaySinh] [date] NULL,
	[CMND] [nvarchar](15) NULL,
	[MaLop] [nvarchar](10) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[DienThoai] [nvarchar](20) NULL,
 CONSTRAINT [pk_bd_mabd] PRIMARY KEY CLUSTERED 
(
	[MaBD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ChitietPhieuMuon]    Script Date: 25/10/2016 2:49:06 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChitietPhieuMuon](
	[MaPM] [nvarchar](10) NOT NULL,
	[GTCB] [nvarchar](10) NOT NULL,
	[NgayMuon] [date] NULL,
	[NgayTra] [date] NULL,
	[NgayDangky] [date] NULL,
	[NgayLay] [date] NULL,
	[GhiChu] [nvarchar](max) NULL,
 CONSTRAINT [pk_ctpm_mapm_gtcb] PRIMARY KEY CLUSTERED 
(
	[MaPM] ASC,
	[GTCB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GiaTriCaBiet]    Script Date: 25/10/2016 2:49:06 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiaTriCaBiet](
	[MaTL] [nvarchar](10) NULL,
	[GTCB] [nvarchar](10) NOT NULL,
	[SoTrang] [int] NULL,
	[TaiBan] [int] NULL,
	[TrangThai] [nvarchar](20) NULL,
	[NgayNhap] [date] NULL,
 CONSTRAINT [pk_gtcb_gtcb] PRIMARY KEY CLUSTERED 
(
	[GTCB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Lop]    Script Date: 25/10/2016 2:49:06 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lop](
	[MaLop] [nvarchar](10) NOT NULL,
	[TenLop] [nvarchar](50) NULL,
	[Khoa] [nvarchar](50) NULL,
 CONSTRAINT [pk_lop_malop] PRIMARY KEY CLUSTERED 
(
	[MaLop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NXB]    Script Date: 25/10/2016 2:49:06 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NXB](
	[MaNXB] [nvarchar](10) NOT NULL,
	[TenNXB] [nvarchar](50) NULL,
	[QuocGia] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[DienThoai] [nvarchar](20) NULL,
 CONSTRAINT [pk_nxb_manxb] PRIMARY KEY CLUSTERED 
(
	[MaNXB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PhieuMuon]    Script Date: 25/10/2016 2:49:06 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuMuon](
	[MaPM] [nvarchar](10) NOT NULL,
	[MaBD] [nvarchar](10) NULL,
	[TrangThai] [int] NULL,
 CONSTRAINT [pk_pm_mapm] PRIMARY KEY CLUSTERED 
(
	[MaPM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 25/10/2016 2:49:06 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[ID] [nvarchar](20) NOT NULL,
	[MatKhau] [nvarchar](20) NULL,
	[PhanQuyen] [int] NULL,
	[NgayDangKy] [date] NULL,
	[NgayHetHan] [date] NULL,
	[MaBD] [nvarchar](10) NULL,
 CONSTRAINT [pk_tk_username] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TaiLieu]    Script Date: 25/10/2016 2:49:06 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiLieu](
	[MaTL] [nvarchar](10) NOT NULL,
	[TacGia] [nvarchar](50) NULL,
	[NhanDe] [nvarchar](50) NULL,
	[SoLuong] [int] NULL,
	[DoMat] [int] NULL,
	[NgonNgu] [nvarchar](20) NULL,
	[MaTheLoai] [nvarchar](10) NULL,
	[MaNXB] [nvarchar](10) NULL,
 CONSTRAINT [pk_tailieu_matl] PRIMARY KEY CLUSTERED 
(
	[MaTL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TheLoai]    Script Date: 25/10/2016 2:49:06 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TheLoai](
	[MaTheLoai] [nvarchar](10) NOT NULL,
	[TenTheLoai] [nvarchar](50) NULL,
 CONSTRAINT [pk_theloai_matheloai] PRIMARY KEY CLUSTERED 
(
	[MaTheLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[BanDoc] ([MaBD], [HoTen], [GioiTinh], [NgaySinh], [CMND], [MaLop], [DiaChi], [Email], [DienThoai]) VALUES (N'BD0001', N'Phạm Trọng Hiếu', N'Nam', CAST(0xE51C0B00 AS Date), N'201625579', N'L001', N'Nghệ An', N'gmail', N'1')
INSERT [dbo].[BanDoc] ([MaBD], [HoTen], [GioiTinh], [NgaySinh], [CMND], [MaLop], [DiaChi], [Email], [DienThoai]) VALUES (N'BD0002', N'Hà Đức Hiến', N'Nam', CAST(0xE51C0B00 AS Date), N'201433292', N'L001', N'Ninh Bình', N'gmail', N'2')
INSERT [dbo].[BanDoc] ([MaBD], [HoTen], [GioiTinh], [NgaySinh], [CMND], [MaLop], [DiaChi], [Email], [DienThoai]) VALUES (N'BD0003', N'Bạch Ngọc Hiệp', N'Nam', CAST(0xE51C0B00 AS Date), N'201687852', N'L001', N'Hà Nội', N'gmail', N'3')
INSERT [dbo].[ChitietPhieuMuon] ([MaPM], [GTCB], [NgayMuon], [NgayTra], [NgayDangky], [NgayLay], [GhiChu]) VALUES (N'PM0001', N'GTCB00001', CAST(0x7C390B00 AS Date), CAST(0x183A0B00 AS Date), CAST(0x7C390B00 AS Date), CAST(0x183A0B00 AS Date), NULL)
INSERT [dbo].[ChitietPhieuMuon] ([MaPM], [GTCB], [NgayMuon], [NgayTra], [NgayDangky], [NgayLay], [GhiChu]) VALUES (N'PM0002', N'GTCB00002', CAST(0x7C390B00 AS Date), CAST(0x183A0B00 AS Date), CAST(0x7C390B00 AS Date), CAST(0x183A0B00 AS Date), NULL)
INSERT [dbo].[ChitietPhieuMuon] ([MaPM], [GTCB], [NgayMuon], [NgayTra], [NgayDangky], [NgayLay], [GhiChu]) VALUES (N'PM0003', N'GTCB00003', CAST(0x7C390B00 AS Date), CAST(0x183A0B00 AS Date), CAST(0x7C390B00 AS Date), CAST(0x183A0B00 AS Date), NULL)
INSERT [dbo].[GiaTriCaBiet] ([MaTL], [GTCB], [SoTrang], [TaiBan], [TrangThai], [NgayNhap]) VALUES (N'MTL00001', N'GTCB00001', 400, 3, N'Ready', CAST(0xAE370B00 AS Date))
INSERT [dbo].[GiaTriCaBiet] ([MaTL], [GTCB], [SoTrang], [TaiBan], [TrangThai], [NgayNhap]) VALUES (N'MTL00002', N'GTCB00002', 400, 3, N'Ready', CAST(0xAE370B00 AS Date))
INSERT [dbo].[GiaTriCaBiet] ([MaTL], [GTCB], [SoTrang], [TaiBan], [TrangThai], [NgayNhap]) VALUES (N'MTL00003', N'GTCB00003', 400, 3, N'Ready', CAST(0xAE370B00 AS Date))
INSERT [dbo].[Lop] ([MaLop], [TenLop], [Khoa]) VALUES (N'L001', N'Tin học ', N'49')
INSERT [dbo].[Lop] ([MaLop], [TenLop], [Khoa]) VALUES (N'L002', N'Thông Tin', N'49')
INSERT [dbo].[Lop] ([MaLop], [TenLop], [Khoa]) VALUES (N'L003', N'Địa Tin Học', N'48')
INSERT [dbo].[NXB] ([MaNXB], [TenNXB], [QuocGia], [Email], [DiaChi], [DienThoai]) VALUES (N'NXB001', N'Giáo dục & Đào tạo', N'Việt Nam', N'nxbgddt@gmail.com', N'Hà Nội', N'04111111')
INSERT [dbo].[NXB] ([MaNXB], [TenNXB], [QuocGia], [Email], [DiaChi], [DienThoai]) VALUES (N'NXB002', N'Chính trị quốc gia', N'Việt Nam', N'nxbctqg@gmail.com', N'Hà Nội', N'04222222')
INSERT [dbo].[NXB] ([MaNXB], [TenNXB], [QuocGia], [Email], [DiaChi], [DienThoai]) VALUES (N'NXB003', N'Khoa học & kỹ thuật', N'Việt Nam', N'nxbkhkt@gmail.com', N'Hà Nội', N'04333333')
INSERT [dbo].[PhieuMuon] ([MaPM], [MaBD], [TrangThai]) VALUES (N'PM0001', N'BD0001', 1)
INSERT [dbo].[PhieuMuon] ([MaPM], [MaBD], [TrangThai]) VALUES (N'PM0002', N'BD0002', 1)
INSERT [dbo].[PhieuMuon] ([MaPM], [MaBD], [TrangThai]) VALUES (N'PM0003', N'BD0003', 1)
INSERT [dbo].[TaiKhoan] ([ID], [MatKhau], [PhanQuyen], [NgayDangKy], [NgayHetHan], [MaBD]) VALUES (N'admin1', N'1234', 4, CAST(0x7C390B00 AS Date), CAST(0x183A0B00 AS Date), N'BD0001')
INSERT [dbo].[TaiKhoan] ([ID], [MatKhau], [PhanQuyen], [NgayDangKy], [NgayHetHan], [MaBD]) VALUES (N'admin2', N'1234', 4, CAST(0x7C390B00 AS Date), CAST(0x183A0B00 AS Date), N'BD0002')
INSERT [dbo].[TaiKhoan] ([ID], [MatKhau], [PhanQuyen], [NgayDangKy], [NgayHetHan], [MaBD]) VALUES (N'admin3', N'1234', 4, CAST(0x7C390B00 AS Date), CAST(0x183A0B00 AS Date), N'BD0003')
INSERT [dbo].[TaiLieu] ([MaTL], [TacGia], [NhanDe], [SoLuong], [DoMat], [NgonNgu], [MaTheLoai], [MaNXB]) VALUES (N'MTL00001', N'Nguyễn Tăng Cương', N'Cấu trúc máy tính', 200, 2, N'Tiếng Việt', N'TL014', N'NXB003')
INSERT [dbo].[TaiLieu] ([MaTL], [TacGia], [NhanDe], [SoLuong], [DoMat], [NgonNgu], [MaTheLoai], [MaNXB]) VALUES (N'MTL00002', N'Đỗ Xuân Tiến', N'Kỹ thuật vi xử lý', 200, 2, N'Tiếng Việt', N'TL014', N'NXB003')
INSERT [dbo].[TaiLieu] ([MaTL], [TacGia], [NhanDe], [SoLuong], [DoMat], [NgonNgu], [MaTheLoai], [MaNXB]) VALUES (N'MTL00003', N'Tô Hoài', N'Dế mèn phiêu lưu ký', 20, 1, N'Tiếng Việt', N'TL006', N'NXB005')
INSERT [dbo].[TheLoai] ([MaTheLoai], [TenTheLoai]) VALUES (N'TL001', N'Sách giáo khoa')
INSERT [dbo].[TheLoai] ([MaTheLoai], [TenTheLoai]) VALUES (N'TL002', N'Sách tham khảo')
INSERT [dbo].[TheLoai] ([MaTheLoai], [TenTheLoai]) VALUES (N'TL003', N'Tạp chí')
ALTER TABLE [dbo].[BanDoc]  WITH CHECK ADD  CONSTRAINT [fk_bd_lop] FOREIGN KEY([MaLop])
REFERENCES [dbo].[Lop] ([MaLop])
GO
ALTER TABLE [dbo].[BanDoc] CHECK CONSTRAINT [fk_bd_lop]
GO
ALTER TABLE [dbo].[ChitietPhieuMuon]  WITH CHECK ADD  CONSTRAINT [fk_ctpm_gtcb] FOREIGN KEY([GTCB])
REFERENCES [dbo].[GiaTriCaBiet] ([GTCB])
GO
ALTER TABLE [dbo].[ChitietPhieuMuon] CHECK CONSTRAINT [fk_ctpm_gtcb]
GO
ALTER TABLE [dbo].[ChitietPhieuMuon]  WITH CHECK ADD  CONSTRAINT [fk_ctpm_pm] FOREIGN KEY([MaPM])
REFERENCES [dbo].[PhieuMuon] ([MaPM])
GO
ALTER TABLE [dbo].[ChitietPhieuMuon] CHECK CONSTRAINT [fk_ctpm_pm]
GO
ALTER TABLE [dbo].[GiaTriCaBiet]  WITH CHECK ADD  CONSTRAINT [fk_gtcb_tl] FOREIGN KEY([MaTL])
REFERENCES [dbo].[TaiLieu] ([MaTL])
GO
ALTER TABLE [dbo].[GiaTriCaBiet] CHECK CONSTRAINT [fk_gtcb_tl]
GO
ALTER TABLE [dbo].[PhieuMuon]  WITH CHECK ADD  CONSTRAINT [fk_pm_bd] FOREIGN KEY([MaBD])
REFERENCES [dbo].[BanDoc] ([MaBD])
GO
ALTER TABLE [dbo].[PhieuMuon] CHECK CONSTRAINT [fk_pm_bd]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [fk_tk_bd] FOREIGN KEY([MaBD])
REFERENCES [dbo].[BanDoc] ([MaBD])
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [fk_tk_bd]
GO
ALTER TABLE [dbo].[TaiLieu]  WITH CHECK ADD  CONSTRAINT [fk_tl_nxb] FOREIGN KEY([MaNXB])
REFERENCES [dbo].[NXB] ([MaNXB])
GO
ALTER TABLE [dbo].[TaiLieu] CHECK CONSTRAINT [fk_tl_nxb]
GO
ALTER TABLE [dbo].[TaiLieu]  WITH CHECK ADD  CONSTRAINT [fk_tl_theloai] FOREIGN KEY([MaTheLoai])
REFERENCES [dbo].[TheLoai] ([MaTheLoai])
GO
ALTER TABLE [dbo].[TaiLieu] CHECK CONSTRAINT [fk_tl_theloai]
GO
USE [master]
GO
